.signup {
  padding: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

.signup h3::after {
  content: "";
  background: blue;
  height: 3px;
  width: 33px;
  display: block;
  margin-top: -8px;
  margin-left: 3px;
}

.error-border {
  border-bottom: 1px solid red !important;
}
.error-msg {
  color: red;
}

.accept p {
  position: absolute;
  margin-left: 25px;
  margin-top: -3px;
  color: #fff;
}

.already-account {
  padding: 5px 30px 20px 20px;
  font-size: 18px;
  color: #fff;
}
.already-account span {
  color: rgb(43, 40, 248);
  font-weight: 700;
  font-size: 19px;
}
